html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    
}

body {
    background: url(../images/experience.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    line-height: 1.75;
    
}

header {
	padding: 5%;
	text-align: center;
 }


.landing_title {
    margin-top: 1rem;
    opacity: 85%;
    width: 100%;
}

.intro-main {
    margin-top: 2rem;
    font-size: large;
}

.flexGrid {
	display: inline-flex;
	flex-wrap: wrap;
}

.btn {
    font-size: xx-large;
    color: springgreen;
	background: #2a2929;
    opacity: 30%;
    width: 100%;
    margin-top: 10%;
    padding: 90px 40px;
    border-radius: 15px;
}

.btn:hover {
	border: solid cyan;
	background: linear-gradient(180deg, rgba(27,31,217,1) 1%, rgba(7,168,223,1) 58%, rgba(13,196,172,1) 90%);
	opacity: 70%;
    cursor: pointer;
} 

